* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.pricing-section {
   background-color: red;
    width: 100%;
}

.section-title {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}










body {
    font-family: Arial, sans-serif;
 
    margin: 0;
    padding: 0;
}
main{
    display: none;
}
.pricing-section {
    padding: 40px;
    background-color: #fff;
}
.section-title {
    text-align: center;
    font-size: 32px;
    /* margin-bottom: 40px; */
}

#select{
    display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .pricing-container {
        flex-direction: column;
        align-items: center;
    }

    .package-card {
        width: 100%;
        max-width: 400px;
    }
}
@media screen and (max-width:412px) {
    .package-card{
        width: 300px;
    }
}
